.vagas{
    padding: 0 27vw;
}

.card_vaga{
    width: 700px;
    border: solid 1px #EAECF0;
    border-radius: 15px;
    padding: 1.5em 1em;
    margin: 1.5em auto;
}

.vagas_area{
    font-size: 20px; 
    color: var(--cor-titulos); 
    padding: 0.8em 0;
    margin-top: 2em;
}

.titulo_vaga{
    font-size: 18px;
    color: var(--cor-titulos);    
}

.descricao_vaga{
    padding-top: 2em;
}

.periodo_vaga, .salario_vaga{
    padding-right: 1.5em;
}

.link_vaga{
    text-decoration: none;
    color: var(--cor-texto);
}

.link_vaga:hover > .card_vaga{
    border: solid 1px var(--cor-destaque);
    box-shadow: 0px 2px 4px var(--cor-destaque);
}

.link_vaga:hover > .card_vaga > .titulo_vaga{
    color: var(--cor-destaque);
}