.banner_sobre-nos, .banner_vagas{    
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 2em 20vw;
    margin-top: 6em 
}

.subtitulo{
    color: var(--cor-destaque);
    font-weight: 600;
}

.titulo{
    color: var(--cor-titulos);
    font-size: 48px;
    font-weight: 600;
    padding: 0.8em;
}

.texto-descritivo{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0 3em;
    line-height: 1.5em;
}

.imagem_vagas{
    margin-top: 5em;
}