.secao_metricas{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    align-items:flex-start;
    padding: 2em 10vw;
    margin:2em 0;
}

.destaque-metrica{
    color: var(--cor-destaque);
    font-weight: 600;
    font-size: 60px;
}

.titulo-metrica{
    color: var(--cor-titulos);
    font-size: 18px;
    padding: 1.5em 0 0.8em 0;    
}

.explicacao-metrica{
    font-weight: 400;
}